include: config/model/ad_base.yaml

model: AD

# Transformer
tf_n_embd: 64
tf_n_layer: 4
tf_n_head: 4
tf_dropout: 0.1
tf_attn_dropout: 0.1
tf_n_inner: 128
n_transit: 200

# training
lr: 0.01
train_batch_size: 4096
test_batch_size: 8192
train_source_timesteps: 1000
train_timesteps: 50000
num_warmup_steps: 1000

num_workers: 2